{% extends "layout.html" %}

{% block css %}

{% endblock %}

{% block content %}
  <h1>编辑学生</h1>
  <form action="/edit_student.html" method="POST">
    <input type="text" class="hide" name="id" value="{{ obj.id }}">
    <p>
      <input type="text" placeholder="学生姓名" name="name" value="{{ obj.name }}">
    </p>
    <p>
      <input type="text" placeholder="学生邮箱" name="email" value="{{ obj.email }}">
    </p>
    <p>
      <select name="cls_id" id="">
        {% for op in cls_list %}
          {% if op.id == obj.cls_id %}
            <option value="{{ op.id }}" selected="selected">{{ op.caption }}</option>
          {% else %}
            <option value="{{ op.id }}">{{ op.caption }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </p>
    <input type="submit" value="提交">
  </form>
{% endblock %}
{% block js %}
    <script>
        $(function () {
            $('#menu_student').addClass('active');
        });
    </script>
{% endblock %}
